@use './variables' as *;
@use './mixins' as *;

/* Heading */
.heading {
    font-weight: 700;
    color: $c-blue-dark;

    &--lg {
        font-size: clamp(1.75rem, 1.295rem + 1.939vw, 2.75rem);
        line-height: 1.143;

        @include breakpoint('md') {
            line-height: 1.0909;
        }
    }

    &--sm {
        font-size: clamp(0.75rem, 0.722rem + 0.121vw, 0.813rem);
        color: $c-orange;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
    }
}

/* Body text */
.text {
    font-weight: 400;
    color: $c-blue-dark-grayish;
    line-height: 1.625;

    &--md {
        font-size: 1rem;
    }
    
    &--sm {
        font-size: clamp(0.938rem, 0.909rem + 0.121vw, 1rem);
    }
}

/* Container */
.container {
    max-width: 69.375rem;
    margin: 0 auto;
}