@use './variables' as *;
@use './mixins' as *;

/* Heading */
.heading {
    font-weight: 700;
    color: $c-blue-dark;

    &--lg {
        font-size: clamp(1.75rem, 1.295rem + 1.939vw, 2.75rem);
        line-height: 1.143;

        @include breakpoint('md') {
            line-height: 1.0909;
        }
    }

    &--sm {
        font-size: clamp(0.75rem, 0.722rem + 0.121vw, 0.813rem);
        color: $c-orange;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
    }
}

/* Body text */
.text {
    font-weight: 400;
    color: $c-blue-dark-grayish;
    line-height: 1.625;
    font-size: 1rem;

    &--lg {
        font-size: 1.75rem;
    }

    &--sm {
        font-size: clamp(0.938rem, 0.909rem + 0.121vw, 1rem);
    }

    &--700 {
        font-weight: 700;
    }

    &--lt {
        text-decoration: line-through;
    }

    &--black {
        color: $c-blue-dark;
    }

    &--orange {
        color: $c-orange;
    }

    &--gray {
        color: $c-blue-grayish;
    }
}

/* Container */
.container {
    max-width: 69.375rem;
    margin: 0 auto;
}

/* Overlay */
.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: $c-black-75;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 997;
    
    
    &.open {
        animation: overlay-in 350ms ease-in-out forwards;
    }

    &.close {
        animation: overlay-out 350ms ease-in-out;
    }
}

/* Animations */
@keyframes overlay-in {
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes overlay-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes nav-in {
    to {
        visibility: visible;
        transform: translateX(0);
    }
}

@keyframes nav-out {
    0% {
        visibility: visible;
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
        transform: translateX(-100%);
    }
}