@use '../utilities' as *;

/* Buttons */
.button {
    position: relative;
    background-color: $c-orange;
    border: none;
    color: $c-white;
    font-weight: 700;
    padding-block: 0.94rem;
    border-radius: 12px;
    
    @include breakpoint('md') {
        cursor: pointer;
        transition: background-color 350ms ease-in-out;
        
        &:hover {
            background-color: lighten($c-orange, 15);
        }
    }
    
    
    &--cart {
        box-shadow: 1px 11px 24px -12px $c-orange;

        @include breakpoint('md') {
            flex: 1;
        }

        &::before {
            position: absolute;
            content: "";
            width: 25px;
            height: 25px;
            background-image: url("/shared/icon-cart-white.svg");
            background-size: 1.2rem;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -2rem;
        }
    }
}