@use '../utilities' as *;

/* Cart */
.cart {
    background-color: $c-white;
    border-radius: 10px;
    z-index: 10;

    &__title {
        padding-inline: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.6875rem;
        border-bottom: 1px solid $c-blue-grayish-light;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-inline: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        max-height: 16.125rem;
        overflow-y: scroll;
        
        @include breakpoint('sm') {
            max-height: 25.625rem;
        }
    }

    &__info {
        text-align: center;
        margin-block: 5.5rem;
    }

    &__list {
        display: grid;
        gap: 1rem;
    }

    &__item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
    }

    &__item-image {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    &__delete-btn {
        border: none;
        background-color: transparent;
        align-self: center;
        
        &:focus-visible {
            outline: 3px dotted $c-orange;
            outline-offset: 3px;
        }

        @include breakpoint('md') {
            cursor: pointer;
            transition: opacity 350ms ease-in-out;

            &:hover {
                opacity: 0.75;
            }
        }
    }
}