@use '../utilities/' as *;

/* Header */
.header {
    position: relative;
    $root: &;
    padding-inline: 1.5rem;
    
    &__container {
        display: flex;
        align-items: end;
        padding-top: 1.1875rem;
        padding-bottom: 1.5rem;
        
        @include breakpoint('md') {
            align-items: center;
            padding: 0;
            border-bottom: 1px solid $c-blue-grayish-light;
        }
    }

    &__logo {
        @include breakpoint('md') {
            margin-right: 3.5313rem;
        }
    }

    &__nav {
        order: -1;

        @include breakpoint('md') {
            order: unset;
        }
    }

    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        width: 16px;
        height: 15px;
        background-color: transparent;
        border: none;
        margin-right: 1rem;
        cursor: pointer;
        z-index: 999;

        @include breakpoint('md') {
            display: none;
        }

        &[aria-expanded="true"] &-bars {
            transform: rotate(45deg);
            transition: transform 200ms 0.12s ease;
        }

        &[aria-expanded="true"] &-bars::before {
            top: 0;
            transition: top 200ms ease;
        }

        &[aria-expanded="true"] &-bars::after {
            top: 0;
            transform: rotate(90deg);
            transition: top 200ms ease,
                        transform 200ms ease 0.12s;
        }
    }

    &__menu-bars {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: $c-blue-dark-grayish;
        transition: transform 200ms ease;

        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            background-color: inherit;
            transition: top 200ms ease 0.12s,
                        transform 200ms ease;
        }
        
        &::before {
            top: -6px;
        }

        &::after {
            top: 6px;
        }
    }

    &__list {
        position: absolute;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        gap: 1.25rem;
        top: 0;
        left: 0;
        width: 65%;
        height: 100vh;
        background-color: $bg-menu;
        padding-top: 5.75rem;
        padding-left: 1.5625rem;
        z-index: 998;
        transform: translateX(-100%);

        @include breakpoint('md') {
            position: static;
            visibility: visible;
            flex-direction: row;
            gap: 2.0625rem;
            width: unset;
            height: unset;
            padding: 0;
            background-color: transparent;
            transform: unset;
        }

        &.open {
            animation: nav-in 350ms ease-in-out forwards;
        }
        
        &.close {
            animation: nav-out 350ms ease-in-out forwards;
        }
    }

    &__item {
        @include breakpoint('md') {
            position: relative;
            padding-top: 1.75rem;
            padding-bottom: 2.125rem;
            transition: width 350ms ease-in-out;

            &:has(#{$root}__link:hover)::before {
                width: 100%;
            }

            &::before {
                position: absolute;
                content: '';
                top: calc(100% - 3px);
                left: 0;
                width: 0;
                height: 3px;
                background-color: $c-orange;
                transition: width 350ms ease-in-out;
            }
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 700;
        color: $c-blue-dark;

        @include breakpoint('md') {
            font-weight: 400;
            font-size: 0.9375rem;
            color: $c-blue-dark-grayish;
            transition: color 350ms ease-in-out;

            &:hover {
                color: $c-blue-dark;
            }
        }
    }

    &__options {
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: clamp(1.375rem, 0.688rem + 2.931vw, 2.886rem);
    }

    &__btn {
        border: none;
        mask-image: url("/shared/icon-cart.svg");
        mask-size: 100%;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $c-blue-dark-grayish;
        width: 22px;
        height: 20px;
        transition: background-color 350ms ease-in-out;

        @include breakpoint('md') {
            cursor: pointer;

            &:hover {
                background-color: $c-blue-dark;
            }
        }
    }

    &__profile {
        outline: 2px solid $c-white;
        border-radius: 50%;
        
        @include breakpoint('md') {
            transition: outline-color 350ms ease-in-out;

            &:hover{
                    outline-color: $c-orange;
            }
        }
    }

    &__profile-img {
        width: 24px;

        @include breakpoint('md') {
            width: clamp(36px, 0.689rem + 3.248vw, 50px);
        }
    }
    &__cart-container {
        position: relative;
        width: 100%;
    }

    &__cart {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 0.5rem;
        margin-inline: -1rem;
        opacity: 0;
        transform: translateX(100%);
        
        @include breakpoint('sm') {
            max-width: 360px;
            width: 100%;
            left: unset;
            box-shadow: 0px 7px 11px -6px $c-blue-dark-grayish;
        }

        @include breakpoint('md') {
            top: 71%;
        }

        @include breakpoint('xlg') {
            margin-right: calc(clamp(-0.5rem, -14rem + 20vw, 3rem) * -1);
        }

        &.open {
            animation: cart-in 500ms ease-in-out forwards;
        }

        &.close {
            animation: cart-out 400ms ease-in-out forwards;
        }
    }
}