@use '../utilities' as *;

.lightbox {
    position: absolute;
    display: none;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    max-width: 34.6875rem;
    margin: 0 auto;
    z-index: 999;

    &__button {
        border: none;
        background-color: transparent;
        align-self: end;
        cursor: pointer;

        &:hover svg path {
            fill: $c-orange;
        }

        & svg {
            width: 14px;
            height: 15px;
        }

        & svg path {
            fill: $c-white;
            transition: fill 350ms ease-in-out;
        }
    }

    &__track-wrapper {
        position: relative;
    }

    &__track {
        position: relative;
        border-radius: 16px;
        margin-bottom: 2rem;
    }

    &__controls-arrows {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 50%;
        width: 100%;
        padding: 1rem;
        transform: translateY(-50%);
    }
    
    &__control-arrows {
        position: relative;
        background-color: $c-white;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:focus-visible {
            @extend .focus;
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/shared/icon-previous.svg');
            background-position: center;
            background-size: 0.62rem;
            background-repeat: no-repeat;
        }

        &--next {
            &::before {
                background-image: url('/shared/icon-next.svg');
            }
        }
    }

    &__controls {
        display: flex;
        gap: 1.9375rem;
        justify-content: center;
    }

    &__control {
        position: relative;
        width: 88px;
        height: 88px;
        border-radius: 16px;
        border: none;
        overflow: hidden;
        cursor: pointer;

        &:focus-visible {
            @extend .focus;
        }
        
        &::before {
            position: absolute;
            content: '';
            inset: 0;           
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }

        &:nth-child(1)::before {
            background-image: url('/shared/image-product-1.jpg');
        }

        &:nth-child(2)::before {
            background-image: url('/shared/image-product-2.jpg');
        }

        &:nth-child(3)::before {
            background-image: url('/shared/image-product-3.jpg');
        }

        &:nth-child(4)::before {
            background-image: url('/shared/image-product-4.jpg');
        } 

        &.glide__bullet--active {
            outline: 2px solid $c-orange;
        }

        &.glide__bullet--active:focus-visible {
            @extend .focus;
        }

        &.glide__bullet--active::before {
            opacity: 0.3;
        }
    }
}